<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/unbosqueprg</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">pollo0208</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.pool_size">10</property>
    
    <mapping class="libWeb.entities.User"/>
    <mapping class="libWeb.entities.Author"/>
    <mapping class="libWeb.entities.Leftoverbook"/>
    <mapping class="libWeb.entities.Missingbook"/>
    <mapping class="libWeb.entities.Parameter"/>
    <mapping class="libWeb.entities.Audit"/>
    
  </session-factory>
</hibernate-configuration>